///////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Styling for slider
//
///////////////////////////////////////////////////////////////////////////////////////////////////////

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: $grey-lightest;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $grey-lighter;
}

input[type=range] {
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: $grey-lightest;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: $grey-lighter;
}

input[type=range]::-ms-track {
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: $grey-lightest;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $primary;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: $grey-lighter;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Styling for Bulma Calendar
//
///////////////////////////////////////////////////////////////////////////////////////////////////////

.datetimepicker-dummy:before {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PGcgZmlsbD0iY3VycmVudGNvbG9yIj48cGF0aCBkPSJNNTcgNGgtN1YxYTEgMSAwIDAwLTEtMWgtN2ExIDEgMCAwMC0xIDF2M0gxOVYxYTEgMSAwIDAwLTEtMWgtN2ExIDEgMCAwMC0xIDF2M0gzYTEgMSAwIDAwLTEgMXY1NGExIDEgMCAwMDEgMWg1NGExIDEgMCAwMDEtMVY1YTEgMSAwIDAwLTEtMXpNNDMgMmg1djZoLTVWMnpNMTIgMmg1djZoLTVWMnpNNCA2aDZ2M2ExIDEgMCAwMDEgMWg3YTEgMSAwIDAwMS0xVjZoMjJ2M2ExIDEgMCAwMDEgMWg3YTEgMSAwIDAwMS0xVjZoNnY5SDRWNnptMCA1MlYxN2g1MnY0MUg0eiIvPjxwYXRoIGQ9Ik0zOCAyM0gxMXYyOWgzOFYyM0gzOHptLTcgMmg3djdoLTd2LTd6bTcgMTZoLTd2LTdoN3Y3em0tMTYtN2g3djdoLTd2LTd6bTAtOWg3djdoLTd2LTd6bS05IDBoN3Y3aC03di03em0wIDloN3Y3aC03di03em03IDE2aC03di03aDd2N3ptOSAwaC03di03aDd2N3ptOSAwaC03di03aDd2N3ptOSAwaC03di03aDd2N3ptMC05aC03di03aDd2N3ptMC0xNnY3aC03di03aDd6Ii8+PC9nPjwvc3ZnPg==) !important;
    mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PGcgZmlsbD0iY3VycmVudGNvbG9yIj48cGF0aCBkPSJNNTcgNGgtN1YxYTEgMSAwIDAwLTEtMWgtN2ExIDEgMCAwMC0xIDF2M0gxOVYxYTEgMSAwIDAwLTEtMWgtN2ExIDEgMCAwMC0xIDF2M0gzYTEgMSAwIDAwLTEgMXY1NGExIDEgMCAwMDEgMWg1NGExIDEgMCAwMDEtMVY1YTEgMSAwIDAwLTEtMXpNNDMgMmg1djZoLTVWMnpNMTIgMmg1djZoLTVWMnpNNCA2aDZ2M2ExIDEgMCAwMDEgMWg3YTEgMSAwIDAwMS0xVjZoMjJ2M2ExIDEgMCAwMDEgMWg3YTEgMSAwIDAwMS0xVjZoNnY5SDRWNnptMCA1MlYxN2g1MnY0MUg0eiIvPjxwYXRoIGQ9Ik0zOCAyM0gxMXYyOWgzOFYyM0gzOHptLTcgMmg3djdoLTd2LTd6bTcgMTZoLTd2LTdoN3Y3em0tMTYtN2g3djdoLTd2LTd6bTAtOWg3djdoLTd2LTd6bS05IDBoN3Y3aC03di03em0wIDloN3Y3aC03di03em03IDE2aC03di03aDd2N3ptOSAwaC03di03aDd2N3ptOSAwaC03di03aDd2N3ptOSAwaC03di03aDd2N3ptMC05aC03di03aDd2N3ptMC0xNnY3aC03di03aDd6Ii8+PC9nPjwvc3ZnPg==) !important;
    background-color: $primary !important;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Checkbox & Radio
//
///////////////////////////////////////////////////////////////////////////////////////////////////////

$pretty--class-name: z3-pretty;
$pretty--color-primary: $primary;
@import '~pretty-checkbox/src/pretty-checkbox.scss';