@import "../../../../design/variables/components.scss";

.z3-mf-field-columns,
.z3-mf-field-columns-group {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.z3-mf-field-columns>div,
.z3-mf-field-columns-group>div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.z3-mf-fields-border {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: unset !important;
}

.z3-mf-tabs {
    margin-bottom: 0 !important;
}

.z3-mf-fields-wrap>div:not(:last-child) {
    padding-bottom: 9px !important;
}

.z3-mf-field-columns-group>div:not(:last-child) {
    margin-right: 9px !important;
}

.z3-mf-margin-small-top {
    margin-top: 9px;
}

.z3-mf-divider {
    display: block;
    padding: 7px;
}

.z3-mf-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-is-xsmall {
    min-width: 100px;
    max-width: 100px;
}

.z3-is-small {
    min-width: 150px;
    max-width: 150px;
}

.z3-is-medium {
    min-width: 200px;
    max-width: 200px;
}

.z3-is-large {
    min-width: 350px;
    max-width: 350px;
}

.z3-is-xlarge {
    min-width: 500px;
    max-width: 500px;
}

.z3-mf-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
    background: rgba($white, 0.8);
    backdrop-filter: blur(1px);
}

.z3-mf-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: transparent !important;
}

.z3-mf-loading-spinner {
    background: $grey !important;
}

.z3-mf-captcha-input {
    min-width: 100px !important;
}

.z3-mf-captcha-img {
    margin-top: 5px;
    min-width: 85px;
    width: 85px;
    height: 29px;
    cursor: pointer;
    margin-left: 10px;
}

.z3-mf-captcha-wrap {
    margin-bottom: 0 !important;
    display: flex;
}

.z3-mf-ace {
    width: 100%;
    height: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 4px
}

.z3-mf-toggle-wrap {
    margin-left: 5px;
    margin-top: -3px;
}

.z3-mf-ctl-keyvalue-wrap {
    white-space: nowrap;
    margin-right: 50px;
}

.z3-mf-image-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.z3-mf-image {
    width: 100%;
    object-fit: cover;
}

.z3-mf-images-menu-inner-wrap {
    padding: 2px !important;
}

.z3-mf-images-menu-wrap {
    display: table;
}

.z3-mf-images-menu {
    position: absolute;
    z-index: 100;
}

.z3-mf-images-wrap {
    position: unset !important;
}

.z3-mf-range-wrap {
    display: flex;
}

.z3-mf-drop-area {
    border: 1px dashed #aaa;
    width: 10px;
    margin-top: 12px;
}

.z3-mf-drop-area-over {
    background: hsl(48, 100%, 67%);
}

.z3-mf-calendar-wrap {
    border: 1px solid $grey-lightest;
    width: 230px;
    position: absolute;
    z-index: 1000;
    background: $white;
    box-shadow: -2px 4px 8px -5px rgba(34, 60, 80, 0.2);
    margin-top: 1px;
    border-radius: 4px;
}

.z3-mf-calendar-dow {
    background: $grey-light;
}

.z3-mf-calendar-cell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1px;
}

.z3-mf-calendar-cell-day {
    cursor: pointer;
}

.z3-mf-calendar-cell-day:hover {
    border: 1px solid $primary;
}

.z3-mf-calendar-cell-day-side {
    background: $grey-lightest;
}

.z3-mf-calendar-cell-day-today {
    border: 1px dotted $grey;
}

.z3-mf-calendar-cell-day-selected {
    background: $primary;
    color: $white;
}

.z3-mf-calendar-head-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.z3-mf-calednar-cell-month,
.z3-mf-calednar-cell-year {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
}

.z3-mf-calednar-cell-year-now,
.z3-mf-calednar-cell-month-now {
    background: $primary;
    color: $white;
}

.z3-mf-calednar-cell-year:hover:not(.z3-mf-calednar-cell-year-now),
.z3-mf-calednar-cell-month:hover:not(.z3-mf-calednar-month-year-now) {
    background: $grey-lightest;
    color: $black;
}

.z3-mf-calednar-wrap-year {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.z3-mf-calendar-control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-top: 1px solid $grey-lightest;
    cursor: pointer;
}

.z3-mf-calendar-control:hover {
    background: $white-bis;
}

.z3-mf-area {
    padding-left: 15px;
    padding-right: 15px;
}

.z3-mf-area-border-lr {
    border-left: 1px solid $grey-lightest;
    border-right: 1px solid $grey-lightest;
}

.z3-mf-area-border-s {
    border-bottom: 1px solid $grey-lightest;
}

.z3-mf-area-border-e {
    border-top: 1px solid $grey-lightest;
}

.z3-mf-area-start {
    color: $grey;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.z3-mf-area-end {
    margin-bottom: 0 !important;
}

.z3-mf-area-green {
    background: #d9e4dd;
}

.z3-mf-area-yellow {
    background: #fbf7f0;
}

.z3-mf-area-violet {
    background: #f4eeff;
}

.z3-mf-area-pink {
    background: #f6e5f5;
}

.z3-mf-area-grey {
    background: #e8ecf1;
}

.z3-mf-wysiwyg-toggle>ul>li:not(.is-active) {
    background: $white;
}

@media (max-width: 1024px) {

    .z3-mf-captcha-input,
    .z3-is-xsmall,
    .z3-is-small,
    .z3-is-medium,
    .z3-is-large,
    .z3-is-xlarge {
        max-width: unset;
        min-width: unset;
    }

}

.z3-mf-wrap {
    padding: 2px;
}

@media (max-width: 768px) {

    .z3-mf-notification {
        left: 12px;
        right: 12px;
        transform: unset;
    }

    .z3-mf-field-columns-group>div:not(:first-child) {
        margin-top: 9px !important;
    }

    .z3-mf-field-columns-group>div:not(:last-child) {
        margin-right: 0 !important;
    }

    .z3-mf-ckeditor {
        width: 90vw;
        width: 90%;
    }
}