.z3-mf-field-columns,
.z3-mf-field-columns-group {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.z3-mf-field-columns>div,
.z3-mf-field-columns-group>div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.z3-mf-fields-border {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: unset !important;
}

.z3-mf-tabs {
    margin-bottom: 0 !important;
}

.z3-mf-fields-wrap>div:not(:last-child) {
    margin-bottom: 9px !important;
}

.z3-mf-field-columns-group>div:not(:last-child) {
    margin-right: 9px !important;
}

.z3-mf-margin-small-top {
    margin-top: 9px;
}

.z3-mf-divider {
    display: block;
    padding: 7px;
}

.z3-mf-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-is-small {
    max-width: 150px;
}

.z3-is-medium {
    max-width: 200px;
}

.z3-is-large {
    max-width: 350px;
}

.z3-is-xlarge {
    max-width: 500px;
}

.z3-mf-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-mf-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-mf-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-mf-captcha-input {
    min-width: 100px !important;
}

.z3-mf-captcha-img {
    margin-top: 5px;
    min-width: 85px;
    width: 85px;
    height: 29px;
    cursor: pointer;
    margin-left: 10px;
}

.z3-mf-captcha-wrap {
    margin-bottom: 0 !important;
    display: flex;
}

.z3-mf-ace {
    width: 100%;
    height: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 4px
}

.z3-mf-toggle-wrap {
    margin-left: 5px;
    margin-top: -3px;
}

.z3-mf-ctl-keyvalue-wrap {
    white-space: nowrap;
    margin-right: 50px;
}

.z3-mf-image-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.z3-mf-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.z3-mf-images-menu-inner-wrap {
    padding: 2px !important;
}

.z3-mf-images-menu-wrap {
    display: table;
}

.z3-mf-images-menu {
    position: absolute;
    z-index: 100;
}

.z3-mf-images-wrap {
    position: unset !important;
}

.z3-mf-range-wrap {
    display: flex;
}

.z3-mf-drop-area {
    border: 1px dashed #aaa;
    width: 10px;
    margin-top: 12px;
}

.z3-mf-drop-area-over {
    background: hsl(48, 100%, 67%);
}

@media (max-width: 1024px) {

    .z3-mf-captcha-input,
    .z3-is-small,
    .z3-is-medium,
    .z3-is-large,
    .z3-is-xlarge {
        max-width: unset;
        min-width: unset;
    }

}

@media (max-width: 768px) {

    .z3-mf-notification {
        left: 12px;
        right: 12px;
        transform: unset;
    }

    .z3-mf-field-columns-group>div:not(:first-child) {
        margin-top: 9px !important;
    }

    .z3-mf-field-columns-group>div:not(:last-child) {
        margin-right: 0 !important;
    }

    .z3-mf-ckeditor {
        width: 90vw;
        width: 90%; //fallback
    }
}