<!DOCTYPE html>
<html class="z3-e-500-html">
  <head>
    <title>${out.global.pageTitle} | ${out.global.siteData.title}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="z3-e-500-body">
    <div>
      <h1 class="z3-e-500-h1 z3-e-500-title">${out.global.i18n.t("internal_error")}</h1>
      <p>${out.global.i18n.t("internal_error_msg")}</p>
    </div>
  </body>
</html>
