$family-sans-serif: "Source Sans Pro",
sans-serif;
$primary: #35525f;
$link: #35525f;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../../../fonts/source-sans-pro/source-sans-pro.css";
@import "~bulma/bulma";
@import '~bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass';

.z3-ap-html,
.z3-ap-body {
    min-height: 100%;
}

.z3-ap-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-ap-side-menu-wrap {
    padding: 10px;
}

.z3-ap-side-menu-area {
    min-height: 100%;
    background-color: $white-bis;
    box-shadow: 1px 0 5px -2px $grey;
    z-index: 10;
}

.z3-ap-side-menu {
    width: 250px;
    background-color: $white;
}

.z3-ap-side-menu-head {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $grey-lighter;
}

.z3-ap-side-menu-list {
    min-width: 100%;
}

.z3-ap-navbar {
    position: fixed;
    min-width: 100%;
    transition: top 0.3s;
}

.z3-ap-navbar-link {
    font-size: 90%;
}

.z3-ap-logo {
    display: inline-block;
    background-image: url(logo.svg);
    width: 80px;
    height: 26px;
}

.z3-ap-content-area {
    padding-top: 52px;
    min-height: 100vh;
    margin-bottom: 0 !important;
}

.z3-ap-content-wrap {
    padding: 10px 20px;
}

.z3-ap-head-thin {
    font-size: 183%;
    font-weight: 200;
    border-bottom: 1px solid $grey-lighter;
    margin: -10px -20px 20px;
    padding-left: 20px;
    z-index: 9;
}

.z3-ap-navbar-gap {
    width: 100%;
    height: 55px;
    transition: top 0.3s;
}

@media (max-width: 1024px) {}