@import "../../../../shared/marko/zoia/templates/jonacor-shared/variables.scss";

.z3-bm-v-yacht-title {
    font-weight: 300;
}

.z3-bm-v-h1 {
    font-size: 230%;
}

.z3-bm-v-h2 {
    font-size: 150%;
}

.z3-bm-carousel-wrap {
    margin-top: 20px;
    background: $white-ter;
    padding: 10px;
}

.z3-bm-v-images-wrap {
    overflow-x: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.z3-bm-v-images-wrap>a>img {
    width: 100px;
    height: 100px;
    min-width: 100px;
    margin-right: 7px;
    cursor: pointer;
}

.z3-bm-v-images-btn-left {
    margin-left: 8px;
}

.z3-bm-v-images-btn-right {
    right: 0;
    // position: absolute;
    float: right;
    margin-right: 10px;
}

.z3-bm-v-images-btn-left,
.z3-bm-v-images-btn-right {
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.15);
    border: 0px !important;
    border-radius: 50% !important;
    margin-top: -66px;
}

.z3-bm-v-images-btn-left:hover,
.z3-bm-v-images-btn-right:hover {
    background: $white-bis;
}

.z3-bm-v-lightbox-left,
.z3-bm-v-lightbox-right {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
    margin-right: 10px;
    background: $grey-dark;
    border-radius: 50%;
}

.z3-bm-v-lightbox-left {
    left: 0;
}

.z3-bm-v-lightbox-right {
    right: 0;
}

.z3-bm-v-lightbox-left:hover,
.z3-bm-v-lightbox-right:hover {
    background: $black;
}

.z3-bm-v-carousel-btn-wrap {
    height: 0px;
}

.z3-bm-v-info-wrap {
    margin-top: 20px;
}

.z3-bm-v-image {
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
}

.z3-bm-v-plan {
    padding: 10px;
    border: 1px solid $white-ter;
    text-align: center;
    display: inline-block;
}

.z3-bm-v-plan>a>img {
    vertical-align: top;
}

.z3-bm-v-table {
    font-size: 90%;
}

.z3-bm-v-table td,
.z3-bm-v-table th {
    border: unset;
}

.z3-bm-v-table-value {
    width: 50%;
}

.z3-bm-v-plan-wrap {
    display: flex;
    justify-content: center;
}

.z3-bm-v-eq-wrap {
    column-count: 3;
    column-rule: 1px solid $white-bis;
    column-gap: 4em;
}

.z3-bm-v-products-table {
    font-size: 85%;
}

.z3-bm-v-order-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.z3-bm-v-order-field {
    width: 100%;
}

.z3-bm-v-price {
    color: $orange;
    font-size: 120%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px !important;
}

.z3-bm-v-order-notice {
    font-size: 85%;
    color: $grey;
    text-align: center;
}

.z3-bm-v-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-bm-v-breadcrumb {
    margin-top: 20px;
}

.z3-bm-v-obligatory {
    margin-bottom: 10px;
    font-size: 90%;
    font-weight: 200;
}

@media (max-width: 768px) {
    .z3-bm-v-order-wrap {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .z3-bm-v-table-value {
        width: unset;
    }

    .z3-bm-v-images-wrap {
        overflow-x: scroll;
    }

    .z3-bm-v-eq-wrap {
        column-count: 1;
    }
}