<div class=`columns is-gapeless`>
  <searchFilter key="bmSearchFilter" on-query-change("onQueryChange") on-data-request("onDataRequest")/>
  <div class="column is-auto">
    <searchResult key="bmSearchResult" on-query-change("onQueryChange") on-page-change("onPageChange")/>
  </div>
</div>
