<templates>
  <div class="uk-title-head">${out.global.t["Activate user account"]}</div>
  <p>${out.global.t["Your account could not be activated at this moment. It may be already activated, or you have specified wrong activation code."]}</p>
</templates>
