{
    "plugins": ["@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "macros",
        ["@babel/transform-runtime", {
            "regenerator": true,
            "polyfill": false
        }]
    ],
    "presets": [
        "@babel/preset-env"
    ],
    "sourceType": "unambiguous"
}
