<!DOCTYPE html>
<html class="z3-e-int-html">
	<head>
		<title>${out.global.pageTitle} | ${out.global.siteMetadata.title}</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<style type="text/css">
      .z3-e-int-html,
      .z3-e-int-body {
          height: unset !important;
          padding: 1px 10px 10px 10px;
          font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }
      .z3-e-int-h1 {
          display: block;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
      }
      .z3-e-int-title {
          color: #363636;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.125;
      }
    </style>
		<link type="image/x-icon" rel="shortcut icon" href="/zoia/favicon.ico"/>
	</head>
	<body class="z3-e-int-body">
		<div>
			<h1 class="z3-e-int-h1 z3-e-int-title">${input.errorTitle}</h1>
			<p>${input.errorMessage}</p>
		</div>
	</body>
</html>
