class {
    onCreate() {
      // console.log("Test");
    }
    onMount() {
      // console.log("USERS.EDIT onMount");
    }
  }

<div>
  <div>Template 2 --- ${input.id}</div>
  <router-link href="/admin/users" route="users">Users!</router-link>
</div>
