$ const yacht = out.global.yacht;
<if(yacht.equipment && yacht.equipment.length)>
  <hr/>
  <div class="z3-bm-v-eq-wrap">
    <for|eq| of=yacht.equipment>
      <div>
        <i class="fas fa-check"/>&nbsp;${eq}
      </div>
    </for>
  </div>
</if>
