.button.is-light {
    border: 1px solid $grey-lightest !important;
    background-color: $white !important;
    border-bottom: 2px solid $grey-lighter !important;
    transition: 0.09s;
}

.button.is-light:not(.is-action-button):hover {
    background: $white-lightest !important;
    border-bottom: 2px solid $grey-light !important;
}

.is-action-button:hover {
    background: $white-lightest !important;
}

.button.is-danger {
    border: 1px solid $red-dark !important;
    border-bottom: 2px solid $red-darker !important;
    transition: 0.09s;
}

.button.is-warning {
    border: 1px solid $yellow-dark !important;
    border-bottom: 2px solid $yellow-darker !important;
    transition: 0.09s;
}

.button.is-warning:not(.is-action-button):hover {
    border: 1px solid rgba($yellow-dark, 0.9) !important;
    border-bottom: 2px solid $yellow-darker !important;
    transition: 0.09s;
}

.button.is-primary {
    border-bottom: 2px solid $primary-dark !important;
    transition: 0.09s;
}

.button.is-dialog-secondary {
    border: 1px solid $grey-lightest !important;
    background-color: $white !important;
    border-bottom: 2px solid $grey-lighter !important;
    transition: 0.09s;
}

.button.is-dialog-secondary:hover {
    background-color: $white-lightest !important;
}

.button.is-success {
    border: 1px solid $green !important;
    background-color: $green !important;
    border-bottom: 2px solid findDarkColor($green) !important;
    transition: 0.09s;
}

.button.is-success:not(.is-action-button):hover {
    background: rgba($green, 0.9) !important;
    border-bottom: 2px solid findDarkColor($green) !important;
}

.button,
.button:active,
.button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.button:not(.is-white):not(.is-ghost) {
    box-shadow: 0px 2px 3px rgb(0 0 0 / 4%) !important;
}

.button:not(.is-white):not(.is-ghost):hover {
    box-shadow: 0px 2px 3px rgb(0 0 0 / 6%) !important;
}

.modal-card-head,
.modal-card-foot {
    background-color: $white-lightest !important;
    padding-bottom: 15px !important;
}

.modal-card-head {
    padding-top: 18px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.modal-card-foot {
    padding-top: 15px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.modal-card-title {
    font-weight: 100;
}