@import "./variables.scss";
@import "~@mdi/font/scss/materialdesignicons.scss";
@import "../../../fonts/source-sans-pro/source-sans-pro.css";
@import "~bulma/bulma";
@import '~bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass';

.z3-ap-html,
.z3-ap-body {
    min-height: 100%;
}

.z3-ap-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-ap-side-menu-wrap {
    padding: 10px;
}

.z3-ap-side-menu-area {
    min-height: 100%;
    background-color: $white-bis;
    box-shadow: 1px 0 5px -2px $grey-lighter;
    z-index: 10;
}

.z3-ap-side-menu {
    width: 250px;
    background-color: $white;
}

.z3-ap-side-menu-head {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $grey-lighter;
}

.z3-ap-side-menu-list {
    min-width: 100%;
}

.z3-ap-navbar {
    position: fixed;
    min-width: 100%;
    transition: top 0.3s;
}

.z3-ap-navbar-link {
    font-size: 90%;
}

.z3-ap-logo {
    display: inline-block;
    background-image: url(z3_ap_logo.svg);
    width: 80px;
    height: 26px;
}

.z3-ap-content-area {
    padding-top: 52px;
    min-height: 100vh;
    margin-bottom: 0 !important;
}

.z3-ap-content-wrap {
    padding: 10px 20px;
    min-height: 100%;
}

.z3-ap-head-thin {
    font-size: 180%;
    font-weight: 200;
    margin: -10px -20px 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9;
    // background: $z3-head-background-color;
    // color: $z3-head-text-color;
    // background: repeating-linear-gradient(-55deg,
    //         $white-bis,
    //         $white-bis 5px,
    //         $white-ter 5px,
    //         $white-ter 10px);
    border-bottom: 1px solid $grey-lightest;
}

.z3-ap-mdi-29px.mdi-set,
.z3-ap-mdi-29px:before {
    font-size: 29px;
    color: #262624;
}

.z3-ap-mdi-head.mdi-set,
.z3-ap-mdi-head:before {
    font-size: 24px;
}

.z3-ap-navbar-gap {
    width: 100%;
    height: 55px;
    transition: top 0.3s;
}

.z3-ap-menu-icon-wrap {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.z3-ap-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.z3-ap-side-menu-area {
    min-width: 270px;
}

@media (max-width: 768px) {
    .z3-ap-logo {
        margin-left: 10px;
    }

    .z3-ap-nav-menu {
        z-index: 999 !important;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////
//
// Checkbox & Radio
//
///////////////////////////////////////////////////////////////////////////////////////////////////////

@import '~pretty-checkbox/src/pretty-checkbox.scss';