<admin modules=input.modules moduleId=input.moduleId>
	<if(out.global.accessAllowed)>
		<files/> 
	</if>
	<else>
		<h1 class="z3-ap-head-thin">
			<span class="icon">
				<i class="mdi z3-ap-mdi-head mdi-dark mdi-cancel"/>
			</span>&nbsp;${out.global.i18n.t("accessDenied")}
		</h1>
		<div class="mt-3">${out.global.i18n.t("accessDeniedDesc")}</div> 
	</else>
</admin>
