@import "../../../../shared/marko/components/admin/variables.scss";

.z3-cr-images-html {
    height: 100%;
}

.z3-cr-images-body {
    height: 100%;
}

.z3-cr-images-header {
    flex: 0 0 auto;
}

.z3-cr-images-content {
    flex: 1 0 auto;
    user-select: none;
}

.z3-cr-images-footer {
    flex: 0 0 auto;
}

.z3-cr-images-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.z3-cr-images-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-cr-images-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-cr-images-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-cr-images-item {
    width: 200px;
    height: 230px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid $grey-lighter;
    border-radius: 3px;
}

.z3-cr-images-item-selected {
    border: 1px solid $grey-lighter;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
}

.z3-cr-images-item-img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $grey-lighter;
}

.z3-cr-images-item-img-pic {
    background: url(./z3_cr_image_placeholder.svg) no-repeat center center;
    background-size: 100px auto;
}

.z3-cr-images-item-img-dir {
    background: url(./z3_cr_folder.svg) no-repeat center center;
    background-size: 100px auto;
}

.z3-cr-images-item-text {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-bis;
}

.z3-cr-images-item-text-label {
    font-size: 90%;
    padding: 3px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.z3-cr-images-files-wrap {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.z3-cr-images-item-text-selected {
    background-color: $yellow;
}

.z3-cr-images-files-error {
    width: 100%;
}

.z3-cr-images-header-title {
    font-size: 220%;
    font-weight: 200;
    margin-bottom: 10px;
}

.z3-cr-images-upload-area {
    background: $white;
    border: 1px dashed $grey-lighter;
    padding: 15px;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.z3-cr-images-upload-area>.file {
    display: flex;
    justify-content: center;
    align-items: center;
}

.z3-cr-images-upload-area>.file>.file-input {
    cursor: pointer;
}