<zoia>
  <if(out.global.userHolding)>
    $ const holdingData = out.global.userHoldingData;
    <h1 class="title">${holdingData.title}</h1>
    <cardForm/>
  </if>
  <else>
    <div class="notification is-danger">${out.global.i18n.t("holdingUnset")}</div>
  </else>
</zoia>
