$family-sans-serif: "Source Sans Pro", sans-serif;
$primary: hsl(208, 25%, 37%);
$primary-dark: hsl(208, 25%, 21%);
$link: hsl(212, 42%, 24%);
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 93%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white-lightest: hsl(0, 0%, 99%) !default;
$white: hsl(0, 0%, 100%) !default;
$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$yellow-dark: hsl(48, 100%, 57%) !default;
$yellow-darker: hsl(48, 100%, 47%) !default;
$green: hsl(141, 53%, 53%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 71%, 53%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 86%, 61%) !default;
$red-dark: hsl(348, 86%, 51%) !default;
$red-darker: hsl(348, 86%, 41%) !default;
$mdi-font-path: "~@mdi/font/fonts";
$z3-head-background-color: $white-lightest;
$z3-head-text-color: $grey-darker;
$z3-yellow-light: hsl(48, 100%, 96%) !default;
$z3-head-background-color: $white-lightest;
$z3-head-text-color: $grey-darker;
$pretty--class-name: z3-pretty !default;
$pretty--color-default: $grey-light !default;
$pretty--color-primary: $primary !default;
$pretty--color-info: $blue !default;
$pretty--color-success:$green !default;
$pretty--color-warning: $yellow !default;
$pretty--color-danger: $red !default;
$pretty--color-dark: $grey !default;
$pretty--z-index-back: 0 !default;
$pretty--z-index-between: 1 !default;
$pretty--z-index-front: 2 !default;
$pretty--curve-radius: 20% !default;
$pretty--box-size: calc(1em + 2px) !default;
$pretty--label-text-offset: 1.5em !default;
$pretty--label-text-offset-switch: 2.5em !default;
$pretty--2x: 1.2em !default;
$pretty--colors: (primary, $pretty--color-primary), (info, $pretty--color-info), (success, $pretty--color-success), (warning, $pretty--color-warning), (danger, $pretty--color-danger) !default;
$pretty-top: 8;
$pretty-top-switch: ($pretty-top * 2) * 1%;
$pretty-top-offset: calc((0.0001% - (100% - 1em)) - #{$pretty-top * 1%});
$pretty-top-offset-switch: calc((0.0001% - (100% - 1em)) - #{$pretty-top-switch});
$pretty--debug: false !default;
$pretty--err-message: 'Error: Invalid input type!' !default;