<router
	routes=[
		{
			name: "users",
			path: out.global.i18n.getLocalizedURL(out.global.routes.users)
		},
		{
			name: "users.edit",
			path: "/edit/:id"
		}
	]
	on-state-change("onStateChange")>
	<if(state.route.name === "users")>
		<usersList ...state.route.params/> 
	</if>
	<if(state.route.name === "users.edit")>
		<usersEdit ...state.route.params/> 
	</if>
</router>
