.z3-mt-wrap {
    position: relative;
}

.z3-mt-visible {
    opacity: 1;
}

.z3-mt-hidden {
    opacity: 0;
}

.z3-mt-sortable {
    cursor: pointer;
}

.z3-mt-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-mt-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-mt-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-mt-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-mt-action-button {
    margin: 1px;
}

.z3-margin-top {
    margin-top: 10px;
}

.z3-mt-actions-wrap {
    white-space: nowrap;
    width: 10px;
}