<div class=`z3-ap-noselect modal${state.active ? " is-active" : ""}`>
  <div class="modal-background"/>
  <div class="modal-card">
    <section class="modal-card-body">
      <div>${state.message}</div>
      <progress class="progress is-large is-info mt-4" max="100"/>
    </section>
  </div>
</div>
