<div class="field z3-ap-noselect">
  <input id="switchMaintenance" type="checkbox" class="switch is-rounded is-danger" checked=out.global.maintenanceStatus on-change("onMaintenanceChange")/>
  <label for="switchMaintenance" class="z3-ap-switch">${out.global.i18n.t("maintenanceMode")}</label>
  <spinner key="z3_mnt_spinner"/>
  <mnotify key=`z3_mnt_notify`/>
</div>
