.z3-ap-ps-list-dir {
    width: 110px;
    word-wrap: break-word;
}

.z3-ap-ps-list-filename {
    width: 120px;
    word-wrap: break-word;
}

.z3-ap-ps-tree-wrap {
    width: 250px;
    min-width: 250px !important;
}

@media (max-width: 768px) {

    .z3-ap-ps-tree-wrap {
        width: unset;
    }

}