.z3-notification-active {
    opacity: 1;
}

.z3-notification-inactive {
    opacity: 0;
}

.z3-notification {
    position: fixed !important;
    z-index: 999999;
    top: 12px;
    transition: .45s ease;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.32);
    padding: 20px !important;
}

@media (max-width: 768px) {

    .z3-notification {
        left: 12px;
        right: 12px;
        transform: unset;
    }

}