@import "../../../../../design/variables/components.scss";

.z3-mtr-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 6px;
    background-position-y: 2px;
    background-repeat: no-repeat;
}

.z3-mtr-icon-folder {
    background-image: url(mtree-folder.svg);
}

.z3-mtr-icon-folder-open {
    background-image: url(mtree-folder-open.svg);
}

.z3-mtr-icon-wrap {
    margin-right: 1px;
}

.z3-mtr-label {
    padding: 0 3px;
}

.z3-mtr-label-selected {
    background: $grey-lightest;
}

.z3-mtr-tree-item {
    white-space: nowrap;
}

.z3-mtr-drop-gap {
    height: 5px;
    border: 1px dashed $grey-lightest;
}

.z3-mtr-drop-gap-over {
    border: 1px dashed $grey;
}

.z3-mtr-tree-item-over {
    background: $grey-lightest;
}