<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>${out.global.pageTitle} | ${out.global.siteData[out.global.language].title}</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <${input.renderBody}/>
      </div>
    </section>
  </body>
</html>
