<email>
  <p>${out.global.t["Your e-mail address needs to be verified to complete the registration process. To verify your e-mail address, please click on the button below:"]}</p>
  <email-button url=input.registrationURL text=out.global.t["Confirm E-mail"]/>
  <p class="text-smaller">${out.global.t["In case you didn't request a new account, just ignore this mail."]}</p>
</email>
