@import "~@fortawesome/fontawesome-free/css/all.min.css";

.za-ap-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.za-ap-side-menu {
    width: 200px;
}

.za-ap-main-columns {
    padding: 10px;
}