<router routes=[
  {
    name: "pages",
    path: out.global.routes.admin
  },
  {
    name: "pages.edit",
    path: "/edit/:id"
  }
] on-state-change("onStateChange")>
  <if(state.route.name === "pages")>
    <pagesList ...state.route.params/>
  </if>
  <if(state.route.name === "pages.edit")>
    <pageEdit ...state.route.params/>
  </if>
</router>
