<for|yacht| of=state.yachts>
  <div class="card-content z3-bm-card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image">
          <img src="https://via.placeholder.com/180" alt="Placeholder image"/>
        </figure>
      </div>
      <div>
        <p class="title is-4">${yacht.name} &ndash; ${yacht.model} (${yacht.year})</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>
  </div>
</for>
