<admin modules=input.modules moduleId=input.moduleId>
  <h1 class="z3-ap-head-thin">
    <span class="icon">
      <i class="mdi z3-ap-mdi-29px mdi-dark mdi-account-tie-outline"/>
    </span>&nbsp;${out.global.i18n.t("moduleTitle")}
  </h1>
  <cm/>
</admin>
