@import "./variables.scss";
@import "../../../../fonts/source-sans-pro/source-sans-pro.css";
$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons.scss";
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-tooltip/src/sass/index.sass";
@import "~bulma-extensions/bulma-calendar/src/sass/index.sass";
@import "./inputs.scss";

.z3-dt-logo {
    display: inline-block;
    background-image: url(z3_dt_logo.svg);
    width: 80px;
    height: 26px;
}

.z3-dt-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.z3-dt-content {
    flex: 1;
}

.z3-dt-footer-wrap {
    border-top: 1px solid $grey-lightest;
}

.z3-dt-nav {
    background: $grey-lightest;
}

.z3-dt-navbar {
    background: transparent !important;
}

@media (max-width: 768px) {

    .z3-dt-navbarMenu {
        margin-top: 16px;
    }

    .z3-dt-logo {
        margin-left: 10px;
    }

    .z3-dt-footer {
        text-align: center;
        ;
    }

}