style.scss {
  @import "./moduleView.scss";
}

<h1 class="title">${out.global.moduleData.tests[out.global.testId].title}</h1>
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href=out.global.i18n.getLocalizedURL(out.global.routes.index)>${out.global.i18n.t("programs")}</a>
    </li>
    <li>
      <a href=out.global.i18n.getLocalizedURL(`${out.global.routes.index}/program/${out.global.programId}`)>${out.global.program.title}</a>
    </li>
    <li>
      <a href=out.global.i18n.getLocalizedURL(`${out.global.routes.index}/module/${out.global.programId}/${out.global.moduleData.id}`)>${out.global.moduleData.title}</a>
    </li>
    <li class="is-active">
      <a>${out.global.i18n.t("test")}</a>
    </li>
  </ul>
</nav>
<if(state.result)>
  <div class=`notification ${state.result.success ? "is-success" : "is-danger"}`>
    <button class="delete" on-click("onResultCloseClick")/>
    <div>${out.global.i18n.t(state.result.success ? "testPassed" : "testFailed")}</div>
    <div>
      ${out.global.i18n.t("correctlyAnswered")}: <strong>${state.result.correctCount}</strong> ${out.global.i18n.t("of")}&nbsp;<strong>${state.result.questionsCount}</strong>, ${out.global.i18n.t("successRate")}: <strong>${state.result.correctPercentage}%</strong> ${out.global.i18n.t("of")}&nbsp;<strong>${state.result.successPercentage}%</strong>
    </div>
  </div>
  <if(state.testFinished)>
    <a href=out.global.i18n.getLocalizedURL(`${out.global.routes.index}/module/${out.global.programId}/${out.global.moduleData.id}`) class="button is-primary is-rounded">${out.global.i18n.t("goToModule")}</a>
  </if>
</if>
<if(!state.result || (state.result && !state.result.success))>
  <if(out.global.moduleData.tests[out.global.testId].descRuntime && (out.global.sessionData.timeRemain || out.global.sessionData.noTimeLimit) && !state.timeOut && !state.testFinished)>
    <div class="mb-5">${out.global.moduleData.tests[out.global.testId].descRuntime}</div>
  </if>
  <if((out.global.sessionData.timeRemain || out.global.sessionData.timeWait) && !state.testFinished)>
    <timeCounter timeLimit=out.global.sessionData.timeLimit timeRemain=out.global.sessionData.timeRemain timeWait=out.global.sessionData.timeWait on-timeout("onTimeOut")/>
  </if>
  <if(state.error)>
    <div class="notification is-danger">
      <button class="delete" on-click("onErrorCloseClick")/>
      ${state.error}
    </div>
  </if>
  <if(state.timeOut || out.global.sessionData.timeWait)>
    <div class="mt-5">
      <a href=out.global.i18n.getLocalizedURL(`${out.global.routes.index}/module/${out.global.programId}/${out.global.moduleData.id}`) class="button is-primary is-rounded">${out.global.i18n.t("goToModule")}</a>
    </div>
  </if>
  <if((out.global.sessionData.timeRemain || out.global.sessionData.noTimeLimit) && !state.timeOut && !state.testFinished)>
    <div class="z3-edu-testView-question-wrap z3-edu-testView-noselect">
      <if(state.currentQuestionData)>
        <h1 class=`subtitle${state.currentQuestionData.correctCount > 1 ? " mb-2" : ""}`>${state.currentQuestionIndex + 1}. ${state.currentQuestionData.title}</h1>
        <if(state.currentQuestionData.correctCount > 1)>
          <div class="mb-2 has-text-weight-light">${out.global.i18n.t("correctCount")}: ${state.currentQuestionData.correctCount}</div>
        </if>
        <for|answer| of=state.currentQuestionData.answers>
          <if(state.currentQuestionData.correctCount > 1)>
            <div>
              <div class="z3-pretty p-icon">
                <input type="checkbox" data-id=answer.id on-click("onCheckboxClick") checked=(state.currentAnswers.indexOf(answer.id) > -1)/>
                <div class="state">
                  <i class="icon mdi mdi-check"/>
                  <label>${answer.text}</label>
                </div>
              </div>
            </div>
          </if>
          <else>
            <div>
              <div class="z3-pretty p-icon p-round">
                <input type="radio" name="z3_edu_testView_radio" data-id=answer.id on-click("onRadioClick") checked=(state.currentAnswers.indexOf(answer.id) > -1)/>
                <div class="state">
                  <i class="icon mdi mdi-checkbox-blank-circle"/>
                  <label>${answer.text}</label>
                </div>
              </div>
            </div>
          </else>
        </for>
        <div class="buttons mt-5">
          <button class="button is-primary" on-click("onPrevQuestionClick") disabled=(state.currentQuestionIndex === 0)>${out.global.i18n.t("prev")}</button>
          <button class="button is-primary" on-click("onNextQuestionClick") disabled=(state.currentQuestionIndex === state.sessionData.questions.length - 1)>${out.global.i18n.t("next")}</button>
          <if(state.currentQuestionIndex === state.sessionData.questions.length - 1)>
            <button class="button is-success" on-click("onFinishClick")>${out.global.i18n.t("finish")}</button>
          </if>
        </div>
      </if>
      <if(state.loading)>
        <div class="z3-edu-testView-loading">
          <span class="button is-white is-loading is-large z3-edu-testView-loading-spinner">&nbsp;</span>
        </div>
      </if>
    </div>
  </if>
</if>
<confirmModal key="z3_edu_tv_confirmModal" on-confirm("onConfirmTestFinish")/>
