$family-sans-serif: "Source Sans Pro", sans-serif;
$primary: hsl(208, 25%, 37%);
$primary-dark: hsl(208, 25%, 21%);
$link: hsl(212, 42%, 24%);
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;
$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;
$grey-lightest: hsl(0, 0%, 93%) !default;
$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white-lightest: hsl(0, 0%, 99%) !default;
$white: hsl(0, 0%, 100%) !default;
$orange: hsl(14, 100%, 53%) !default;
$yellow: hsl(48, 100%, 67%) !default;
$green: hsl(141, 53%, 53%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 71%, 53%) !default;
$blue: hsl(217, 71%, 53%) !default;
$purple: hsl(271, 100%, 71%) !default;
$red: hsl(348, 86%, 61%) !default;
$red-dark: hsl(348, 86%, 51%) !default;
$red-darker: hsl(348, 86%, 41%) !default;
$mdi-font-path: "~@mdi/font/fonts";
$pretty--class-name: z3-pretty;
$pretty--color-primary: $primary;
$z3-head-background-color: #F2F0E4;
$z3-head-text-color: #262624;
$z3-yellow-light: hsl(48, 100%, 96%) !default;