@import "../../../../../shared/marko/components/admin/variables.scss";

.z3-ap-f-item {
    padding: 8px;
    margin-bottom: 0 !important;
    border-radius: 2px;
}

.z3-ap-f-item-details {
    font-size: 80%;
    margin: 3px 10px 0 10px !important;
}

.z3-ap-f-item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.z3-ap-f-item-wrap {
    padding: 5px !important;
}

.z3-ap-f-item-dir {
    background: $yellow;
}

.z3-ap-f-item-file {
    background: $white-bis;
}

.z3-ap-f-tree-wrap {
    min-width: 250px;
}

.z3-ap-f-item-checkbox {
    margin-right: 0 !important;
    margin-left: 2px;
}

.z3-ap-f-item-icon {
    border-radius: 50%;
    background-color: $white;
    margin-right: 7px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.23);
}

.z3-ap-f-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-ap-f-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-ap-f-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-ap-f-files-wrap {
    position: relative;
}

.z3-ap-f-files {
    margin: 0 !important;
}