@import "../../../../design/variables/components.scss";

.z3-mt-wrap {
    position: relative;
}

.z3-mt-visible {
    opacity: 1;
}

.z3-mt-hidden {
    opacity: 0;
    margin-right: -16px !important;
}

.z3-mt-sortable {
    cursor: pointer;
}

.z3-mt-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-mt-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-mt-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-mt-loading-z3-mt-filter-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-mt-icon-wrap {
    display: inline-block;
    margin-right: 10px;
}

.z3-mt-action-button {
    margin: 1px;
    border-radius: 50% !important;
}

.z3-margin-top {
    margin-top: 10px;
}

.z3-mt-actions-wrap {
    white-space: nowrap;
    text-align: center !important;
    width: 10px;
    max-width: 150px;
}

.z3-mt-filter-tag {
    margin-top: 3px;
    cursor: pointer;
}

.z3-mt-filter-meta {
    margin-top: 3px;
}

.z3-mt-filter-tag-plus {
    position: relative;
    color: $white;
    background-color: $grey;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
}

.z3-mt-filter-tag-plus::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.z3-mt-filter-tag-label {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.z3-mt-filter-tag-label-short {
    max-width: 50px !important;
}

.z3-mt-filter-spinner-wrap,
.z3-mt-widgets-spinner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 230px;
}

.z3-mt-filter-spinner,
.z3-mt-widgets-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.z3-mt-filter-mselect,
.z3-mt-widgets-mselect {
    min-height: 200px;
}

.z3-mt-filter-spinner div,
.z3-mt-widgets-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $grey-lighter;
    border-radius: 50%;
    animation: z3-mt-filter-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $grey-lighter transparent transparent transparent;
}

.z3-mt-filter-spinner div:nth-child(1),
.z3-mt-widgets-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.z3-mt-filter-spinner div:nth-child(2),
.z3-mt-widgets-spinner div:nth-child(2){
    animation-delay: -0.3s;
}

.z3-mt-filter-spinner div:nth-child(3),
.z3-mt-widgets-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

.z3-mt-filter-manage-buttons,
.z3-mt-widgets-manage-buttons {
    min-width: 180px;
}

.z3-mt-filter-raw-tag {
    cursor: pointer;
}

.z3-mt-pretty-checkbox-id {
    margin-right: 0 !important;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

.z3-mt-table-wrap {
    border-style: hidden;
}

.z3-mt-table-container {
    border: 1px solid $grey-lighter;
    border-radius: 2px;
    overflow-x: auto;
}

.z3-mt-table-head {
    background: $grey-lightest !important;
}

.z3-mt-th,
.z3-mt-td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    position: relative;
}

.z3-mt-th {
    padding: 0 !important;
    height: 30px !important;
}

.z3-mt-th-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    position: relative;
}

.z3-mt-th-data {
    flex: 1;
    padding: 8px 12px !important;
    height: 100%;
    position: relative;
}

.z3-mt-th-resize {
    width: 5px;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
}

.z3-mt-th-resize:hover {
    background: $grey-lighter;
}

.z3-mt-td {
    vertical-align: middle !important;
}

.z3-mt-sort {
    display: inline-block;
    margin-right: 4px;
}

.z3-mt-loading-spinner {
    background-color: transparent !important;
    background: transparent !important;
}

.z3-mt-grip-resizable>tbody>tr>td,
.z3-mt-grip-resizable>tbody>tr>th {
    overflow: hidden;
}

.z3-mt-table-meter {
    height: 1px;
    width: 100%;
}

@keyframes z3-mt-filter-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}