@import "../../zoia/variables/components.scss";

.z3-mt-wrap {
    position: relative;
}

.z3-mt-visible {
    opacity: 1;
}

.z3-mt-hidden {
    opacity: 0;
}

.z3-mt-sortable {
    cursor: pointer;
}

.z3-mt-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-mt-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-mt-loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
}

.z3-mt-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-mt-icon-wrap {
    display: inline-block;
    margin-right: 10px;
}

.z3-mt-action-button {
    margin: 1px;
    border-radius: 50% !important;
}

.z3-margin-top {
    margin-top: 10px;
}

.z3-mt-actions-wrap {
    white-space: nowrap;
    width: 10px;
}

.z3-mt-pagination {
    margin-bottom: unset !important;
}

.z3-mt-filter-tag {
    margin-top: 3px;
    cursor: pointer;
}

.z3-mt-filter-tag-plus {
    position: relative;
    color: $white;
    background-color: $grey;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
}

.z3-mt-filter-tag-plus::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.z3-mt-filter-tag-label {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.z3-mt-filter-tag-label-short {
    max-width: 50px !important;
}

.z3-mt-filter-save-dialog {
    background: $white;
    overflow: hidden;
}

.z3-mt-filter-save-dialog-form-wrap {
    padding: 15px;
}