<div class=`columns ${input.item.data.class || ""}`>
	<for|i| of=Array.from(Array(input.item.data.__tabsCount), (_,x) => x + 1)>
		<div class="column content">
			$!{input.item.data[`tab${i}`].content}
		</div>
	</for>
</div>
