<templates>
  <div class="uk-title-head">${out.global.t["Reset password"]}</div>
  <p>${out.global.t["Your account password could not be reset at this moment. Probably you have specified a wrong reset code."]}</p>
</templates>
