@import "../../../../shared/marko/zoia/templates/jonacor-shared/variables.scss";

.z3-bm-fullwidth {
    width: 100%;
}

.z3-bm-noselect {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.z3-bm-card-content {
    padding: 0;
}

.z3-bm-yacht-tn-img-wrap {
    max-width: 180px;
}

.z3-bm-search-btn-wrap {
    padding-top: 10px;
}

.z3-bm-feature-icons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.z3-bm-feature-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.z3-bm-feature-icon-list {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}

.z3-bm-features-wrap {
    padding-bottom: 25px !important;
}

$feature-gradient: linear-gradient(to bottom, rgba(245, 245, 245, 0.7) 0%, rgba(245, 245, 245, 0.7) 100%);
$feature-list-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);

.z3-bm-feature-icon-air {
    background: $feature-gradient, url(svg/feature_air.svg);
}

.z3-bm-feature-icon-anchor {
    background: $feature-gradient, url(svg/feature_anchor.svg);
}

.z3-bm-feature-icon-autopilot {
    background: $feature-gradient, url(svg/feature_autopilot.svg);
}

.z3-bm-feature-icon-bbq {
    background: $feature-gradient, url(svg/feature_bbq.svg);
}

.z3-bm-feature-icon-engine {
    background: $feature-gradient, url(svg/feature_engine.svg);
}

.z3-bm-feature-icon-racing {
    background: $feature-gradient, url(svg/feature_racing.svg);
}

.z3-bm-feature-icon-radar {
    background: $feature-gradient, url(svg/feature_radar.svg);
}

.z3-bm-feature-icon-power {
    background: $feature-gradient, url(svg/feature_power.svg);
}

.z3-bm-feature-icon-thruster {
    background: $feature-gradient, url(svg/feature_thruster.svg);
}

.z3-bm-feature-icon-toilet {
    background: $feature-gradient, url(svg/feature_toilet.svg);
}

.z3-bm-feature-icon-water {
    background: $feature-gradient, url(svg/feature_water.svg);
}

.z3-bm-feature-icon-wifi {
    background: $feature-gradient, url(svg/feature_wifi.svg);
}

.z3-bm-feature-icon-winch {
    background: $feature-gradient, url(svg/feature_winch.svg);
}

.z3-bm-feature-icon-solar {
    background: $feature-gradient, url(svg/feature_solar.svg);
}

.z3-bm-feature-icon-air-list {
    background: $feature-list-gradient, url(svg/feature_air.svg);
}

.z3-bm-feature-icon-anchor-list {
    background: $feature-list-gradient, url(svg/feature_anchor.svg);
}

.z3-bm-feature-icon-autopilot-list {
    background: $feature-list-gradient, url(svg/feature_autopilot.svg);
}

.z3-bm-feature-icon-bbq-list {
    background: $feature-list-gradient, url(svg/feature_bbq.svg);
}

.z3-bm-feature-icon-engine-list {
    background: $feature-list-gradient, url(svg/feature_engine.svg);
}

.z3-bm-feature-icon-racing-list {
    background: $feature-list-gradient, url(svg/feature_racing.svg);
}

.z3-bm-feature-icon-radar-list {
    background: $feature-list-gradient, url(svg/feature_radar.svg);
}

.z3-bm-feature-icon-power-list {
    background: $feature-list-gradient, url(svg/feature_power.svg);
}

.z3-bm-feature-icon-thruster-list {
    background: $feature-list-gradient, url(svg/feature_thruster.svg);
}

.z3-bm-feature-icon-toilet-list {
    background: $feature-list-gradient, url(svg/feature_toilet.svg);
}

.z3-bm-feature-icon-water-list {
    background: $feature-list-gradient, url(svg/feature_water.svg);
}

.z3-bm-feature-icon-wifi-list {
    background: $feature-list-gradient, url(svg/feature_wifi.svg);
}

.z3-bm-feature-icon-winch-list {
    background: $feature-list-gradient, url(svg/feature_winch.svg);
}

.z3-bm-feature-icon-solar-list {
    background: $feature-list-gradient, url(svg/feature_solar.svg);
}

.z3-bm-feature-icon-air-active {
    background: url(svg/feature_air.svg);
}

.z3-bm-feature-icon-anchor-active {
    background: url(svg/feature_anchor.svg);
}

.z3-bm-feature-icon-autopilot-active {
    background: url(svg/feature_autopilot.svg);
}

.z3-bm-feature-icon-bbq-active {
    background: url(svg/feature_bbq.svg);
}

.z3-bm-feature-icon-engine-active {
    background: url(svg/feature_engine.svg);
}

.z3-bm-feature-icon-racing-active {
    background: url(svg/feature_racing.svg);
}

.z3-bm-feature-icon-radar-active {
    background: url(svg/feature_radar.svg);
}

.z3-bm-feature-icon-power-active {
    background: url(svg/feature_power.svg);
}

.z3-bm-feature-icon-thruster-active {
    background: url(svg/feature_thruster.svg);
}

.z3-bm-feature-icon-toilet-active {
    background: url(svg/feature_toilet.svg);
}

.z3-bm-feature-icon-water-active {
    background: url(svg/feature_water.svg);
}

.z3-bm-feature-icon-wifi-active {
    background: url(svg/feature_wifi.svg);
}

.z3-bm-feature-icon-winch-active {
    background: url(svg/feature_winch.svg);
}

.z3-bm-feature-icon-solar-active {
    background: url(svg/feature_solar.svg);
}

.z3-bm-list-h1 {
    font-size: 140%;
    font-weight: 300;
    margin-top: -2px;
}

.z3-bm-hr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.z3-bm-slider-indicator {
    float: right;
    margin-top: 1px;
}

.z3-bm-pagination {
    margin-top: 30px;
}

.z3-bm-yacht-price-wrap {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.z3-bm-yacht-tn-img-wrap {
    margin-right: 15px;
}

.z3-bm-list-img {
    min-width: 180px !important;
    min-height: 180px !important;
    border: 1px solid $grey-lightest;
}

.z3-bm-list-price,
.z3-bm-list-price-on-request {
    color: $orange;
    font-size: 120%;
    margin-bottom: 10px;
    font-weight: bold;
}

.z3-bm-list-starting-from,
.z3-bm-list-price,
.z3-bm-list-price-on-request {
    text-align: center;
}

.z3-bm-yacht-base-country {
    font-size: 90%;
}

.z3-bm-yacht-chars-wrap {
    display: flex;
    margin-top: 15px;
}

.z3-bm-yacht-eq-wrap {
    display: flex;
    margin-top: 15px;
}

.z3-bm-yacht-char {
    width: 60px;
    border: 1px solid $grey-lightest;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.z3-bm-char-text {
    background-color: $grey-lightest;
    text-align: center;
    font-size: 70%;
    width: 100%;
    padding: 3px 2px 3px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.z3-bm-char-icon {
    margin: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
}

.z3-bm-char-icon-cabins {
    background: url(svg/char_cabins.svg);
}

.z3-bm-char-icon-berths {
    background: url(svg/char_berths.svg);
}

.z3-bm-char-icon-engine {
    background: url(svg/char_engine.svg);
}

.z3-bm-char-icon-beam {
    background: url(svg/char_beam.svg);
}

.z3-bm-char-icon-length {
    background: url(svg/char_length.svg);
}

.z3-bm-list-price-week {
    font-weight: normal;
}

.z3-bm-yachts-found-wrap {
    display: flex;
    align-items: center;
}

.z3-bm-yachts-sort-wrap {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.z3-bm-loading {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
}

.z3-bm-loading>span {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 45vh;
}

.z3-bm-loading-spinner {
    background: rgba(255, 255, 255, 0) !important;
}

.z3-bm-side-menu {
    background-color: #fdfdfd;
}

@media (min-width: 768px) {
    .z3-bm-filter-main-wrap {
        max-width: 300px;
    }
}

@media (max-width: 767px) {

    .z3-bm-side-menu {
        padding-left: unset;
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .z3-bm-filter-main-wrap {
        max-width: unset;
        min-width: 100%;
    }

    .z3-bm-yacht-tn-img-wrap {
        max-width: unset;
        text-align: center;
        margin-right: unset;
    }

    .z3-bm-yacht-desc-wrap {
        text-align: center;
    }

    .z3-bm-yacht-price-wrap {
        width: unset;
        height: unset;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: unset;
        margin-top: unset;
        margin-bottom: 35px;
    }

    .z3-bm-yacht-chars-wrap {
        justify-content: center;
        align-items: center;
    }

    .z3-bm-yacht-eq-wrap {
        justify-content: center;
        align-items: center;
    }

    .z3-bm-filter-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {}