<email>
  <p>${out.global.t["You (or someone else) has requested to set a new password for your account. In case you need to set a new password, please click the following button:"]}</p>
  <email-button url=input.resetURL text=out.global.t["Change password"]/>
  <p class="text-smaller">${out.global.t["In case you didn't request a password reset, just ignore this mail. Your password won't be changed."]}</p>
</email>
