<!DOCTYPE html>
<html class="z3-e-int-html">
  <head>
    <title>${out.global.pageTitle} | ${out.global.siteMetadata.title}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="z3-e-int-body">
    <div>
      <h1 class="z3-e-int-h1 z3-e-int-title">${input.errorTitle}</h1>
      <p>${input.errorMessage}</p>
    </div>
  </body>
</html>
