.z3-e-int-html,
.z3-e-int-body {
    height: unset !important;
    padding: 1px 10px 10px 10px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
}

.z3-e-int-h1 {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.z3-e-int-title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}