<div class=`z3-mtr-drop-gap${state.overGap ? " z3-mtr-drop-gap-over" : ""}` style=`margin-left:${input.marginLeft}px;` on-dragover("onGapDragOver") on-dragenter("onGapDragEnter") on-dragleave("onGapDragLeave") on-drop("onGapDrop")/>
