<div class=`z3-mtr-drop-gap${state.overGap ? " z3-mtr-drop-gap-over" : ""}` style=`margin-left:${input.level * 24}px;` on-dragover("onGapDragOver") on-dragenter("onGapDragEnter") on-dragleave("onGapDragLeave")/>
